
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.frame-1-dFP {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  padding: 3.4rem 12.2rem 18.8rem 16.9rem;
  align-items: center;
  display: flex;
  background-color: #ffffff;

  .movingmad-icon-01-1-nXb {
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 4.5rem 7.3rem 0rem;
    width: 27.4rem;
    height: 26.8rem;
  }
  .auto-group-p2eu-Fvy {
    width: calc(100% - 12.8rem);
    height: 52.5rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 9.3rem 28.6rem 3.5rem;

    .auto-group-xr29-jDs {
      margin-right: 3.5rem;
      width: 90.5rem;
      height: 39.7rem;
      position: relative;
      flex-shrink: 0;

      .hello-ebj {
        white-space: nowrap;
        width: 52.9rem;
        height: 25.2rem;
        position: absolute;
        font-size: 20rem;
        line-height: 1.26;
        color: #22231d;
        left: 17.8rem;
        top: 0;
        font-weight: 400;
        font-family: Racing Sans One, 'Source Sans Pro';
      }
      .im-moving-mad-7VK {
        color: #22231d;
        font-family: Passion One, 'Source Sans Pro';
        height: 11.1rem;
        left: 9.4rem;
        top: 21.5rem;
        line-height: 1.1;
        white-space: nowrap;
        width: 66.1rem;
        position: absolute;
        font-size: 10rem;
        font-weight: 700;
      }
      .im-a-vector-car-illustration-designer-zZ7 {
        height: 7.2rem;
        font-weight: 700;
        color: #22231d;
        width: 90.5rem;
        position: absolute;
        left: 0;
        top: 32.5rem;
        font-size: 4.8rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-1leu-edf {
      width: 56.1rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .ellipse-2-NJm {
        object-fit: contain;
        vertical-align: top;
        width: 51.4rem;
        height: 52.5rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .mask-group-VuB {
        height: 48.503rem;
        position: absolute;
        left: 5.4rem;
        top: 2rem;
        object-fit: contain;
        vertical-align: top;
        width: 50.7rem;
      }
    }
  }
  .about-me-1sX {
    line-height: 1.26;
    color: #22231d;
    font-family: Racing Sans One, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 13.1rem 1.3rem 0rem;
    font-size: 12.8rem;
    font-weight: 400;
  }
  .my-name-is-fajar-nur-adillah-i-am-from-batam-21-years-old-i-study-at-batam-institute-of-technology-iteba-8hF {
    line-height: 1.5;
    color: #22231d;
    margin: 0rem 4.7rem 30.5rem 0rem;
    text-align: center;
    font-weight: 700;
    flex-shrink: 0;
    max-width: 73.8rem;
    font-size: 3.6rem;
    font-family: Poppins, 'Source Sans Pro';
  }
  .what-is-moving-mad--yxm {
    font-weight: 400;
    line-height: 1.26;
    color: #22231d;
    font-family: Racing Sans One, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 5rem 5.6rem 0rem;
    font-size: 12.8rem;
  }
  .moving-mad-is-vector-project-run-by-me-fajar-nur-adillah-provides-car-vector-services-for-all-types-with-large-size-image-and-any-files-such-a-psd-ai-eps-that-you-can-use-as-print-wall-decoration-shirt-print-stickers-and-many-more-tK3 {
    max-width: 147.4rem;
    font-size: 3.6rem;
    color: #22231d;
    font-family: Poppins, 'Source Sans Pro';
    margin: 0rem 4.7rem 20.6rem 0rem;
    text-align: center;
    font-weight: 700;
    line-height: 1.5;
    flex-shrink: 0;
  }
  .auto-group-ocx1-Vpd {
    width: calc(100% - 98.4rem);
    height: 45.3rem;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 54.3rem 13.8rem 44.1rem;

    .find-me-here-PQD {
      line-height: 1.26;
      white-space: nowrap;
      width: 59rem;
      font-size: 10rem;
      left: 5.5rem;
      top: 0;
      font-weight: 400;
      color: #22231d;
      font-family: Racing Sans One, 'Source Sans Pro';
      height: 12.6rem;
      position: absolute;
    }
    .fajarmobil-facebook-icon-01-1-UwT {
      width: 24.6rem;
      height: 19.6rem;
      position: absolute;
      left: 0;
      top: 25.7rem;
      object-fit: cover;
      vertical-align: top;
    }
    .fajarmobil-icon-instagram-01-1-CsT {
      vertical-align: top;
      width: 12.8rem;
      height: 22.4rem;
      position: absolute;
      left: 5.9rem;
      top: 9.8rem;
      object-fit: cover;
    }
    .moving-madx-Wt9 {
      text-align: center;
      position: absolute;
      left: 22.35rem;
      top: 17.9rem;
      font-size: 4.5rem;
      font-weight: 700;
      line-height: 1.5;
      width: 31.8rem;
      height: 6.8rem;
      white-space: nowrap;
      color: #22231d;
      font-family: Poppins, 'Source Sans Pro';
    }
    .movingmadx-p89 {
      height: 6.8rem;
      top: 30.8rem;
      color: #22231d;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 30.8rem;
      position: absolute;
      left: 22.4rem;
      text-align: center;
      font-size: 4.5rem;
      font-weight: 700;
      line-height: 1.5;
    }
  }
  .auto-group-thtf-ijK {
    margin: 0rem 23.1rem 5.4rem 24.8rem;
    width: calc(100% - 47.9rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .movingmad-icon-01-2-3mb {
      width: 18.8rem;
      height: 18.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .moving-mad-projects-b2R {
      font-size: 10rem;
      font-weight: 400;
      line-height: 1.26;
      color: #22231d;
      font-family: Racing Sans One, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-jbum-KUD {
    flex-shrink: 0;
    margin: 0rem 13.6rem 21.6rem 8.9rem;
    width: calc(100% - 22.5rem);
    height: 141.9rem;
    position: relative;

    .rectangle-4-pvm {
      width: 79rem;
      height: 141.9rem;
      position: absolute;
      left: 34.4rem;
      top: 0;
      background-color: #22231d;
    }
    .mobil-01-1-NSV {
      height: 61.6rem;
      position: absolute;
      left: 0;
      top: 80.3rem;
      object-fit: cover;
      vertical-align: top;
      width: 140.4rem;
    }
    .mazda-rx7-re-amemiya-1-su3 {
      position: absolute;
      left: 44.5rem;
      top: 8.2rem;
      object-fit: cover;
      vertical-align: top;
      width: 56.2rem;
      height: 56.2rem;
    }
    .mazda-rx7-re-amemiya-CAd {
      left: 48.7rem;
      top: 74.3rem;
      text-align: center;
      line-height: 1.5;
      white-space: nowrap;
      width: 47.7rem;
      position: absolute;
      font-size: 4rem;
      font-weight: 700;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      height: 6rem;
    }
  }
  .auto-group-dhxp-grV {
    flex-shrink: 0;
    margin-bottom: 21.6rem;
    width: 100%;
    height: 146.4rem;
    position: relative;

    .rectangle-7-pho {
      left: 42rem;
      top: 0;
      background-color: #22231d;
      width: 79rem;
      height: 141.9rem;
      position: absolute;
    }
    .fajarmobil-01-1-mN9 {
      position: absolute;
      left: 0;
      top: 71rem;
      object-fit: cover;
      vertical-align: top;
      width: 162.9rem;
      height: 75.4rem;
    }
    .s15-super-silhouette-movingmad-01-1-HrH {
      position: absolute;
      left: 53.4rem;
      top: 8.5rem;
      object-fit: cover;
      vertical-align: top;
      width: 56.2rem;
      height: 56.2rem;
    }
    .lb-silhouette-s15-nissan-silvia-bc5 {
      font-size: 4rem;
      font-weight: 700;
      white-space: nowrap;
      top: 74.4rem;
      text-align: center;
      line-height: 1.5;
      color: #ffffff;
      width: 60rem;
      height: 6rem;
      position: absolute;
      left: 51.5rem;
      font-family: Poppins, 'Source Sans Pro';
    }
  }
  .auto-group-pyuu-6Hw {
    box-sizing: border-box;
    width: calc(100% - 83.9rem);
    align-items: center;
    flex-direction: column;
    background-color: #22231d;
    margin: 0rem 41.9rem 31.2rem 42rem;
    padding: 20.8rem 5.9rem 19.2rem 5.8rem;
    display: flex;
    flex-shrink: 0;

    .auto-group-leqq-iq7 {
      margin: 0rem 2.597rem 10.332rem 2.7rem;
      width: calc(100% - 5.2973rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .nissan-cefiro-01-1-RzR {
        width: 20.6676rem;
        height: 20.6676rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .nissan-cefiro-02-1-aMX {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 20.6676rem;
        height: 20.6676rem;
      }
      .nissan-cefiro-03-1-jER {
        width: 20.6676rem;
        height: 20.6676rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .nissan-cefiro-Tw7 {
      font-weight: 700;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 10.3rem;
      font-size: 4rem;
      text-align: center;
      color: #ffffff;
    }
    .nissan-cefiro-png-1-akq {
      vertical-align: top;
      flex-shrink: 0;
      width: 67.3rem;
      height: 67.3rem;
      object-fit: cover;
    }
  }
  .auto-group-tw7t-WuP {
    margin: 0rem 1.7rem 36.3rem 1.7rem;
    width: calc(100% - 3.4rem);
    height: 154.9rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-9-SY9 {
      background-color: #22231d;
      width: 79rem;
      height: 154.6rem;
      position: absolute;
      left: 40.3rem;
      top: 0;
    }
    .mask-group-NAu {
      height: 60.2104rem;
      position: absolute;
      left: 46.5rem;
      top: 3.8rem;
      object-fit: contain;
      vertical-align: top;
      width: 66.6rem;
    }
    .fajarmobil-5-01-1-uAq {
      width: 159.5rem;
      height: 79.2rem;
      position: absolute;
      left: 0;
      top: 75.7rem;
      object-fit: cover;
      vertical-align: top;
    }
    .subaru-wrx-sti-Eiu {
      width: 30.3rem;
      height: 6rem;
      position: absolute;
      text-align: center;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      left: 64.6rem;
      top: 71.3rem;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.5;
    }
  }
  .auto-group-uo6z-wtD {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #22231d;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 9rem 28.7rem 12.8rem 28.6rem;
    row-gap: 8.6rem;
    margin: 0rem 18.4rem 31.2rem 13.7rem;
    width: calc(100% - 32.1rem);

    .s15-mgt-x-mizu-1-e1w {
      flex-shrink: 0;
      width: 73.5rem;
      height: 85.8rem;
      object-fit: cover;
      vertical-align: top;
    }
    .r35-v2-mgt-x-mizu-1-nP3 {
      height: 85.8rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      width: 73.5rem;
    }
    .r35-v1-mgt-x-mizu-1-w13 {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      width: 73.5rem;
      height: 85.8rem;
    }
  }
  .check-ouy-my-social-media-for-more-artwork--FnR {
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
    line-height: 1.5;
    color: #22231d;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-right: 4.8rem;
  }
}
